<div class=background>
    <div class="logo">
        <icon-snag-logo></icon-snag-logo>
    </div>
    <div class="centered">
        <div class="content">
            <icon-magnifying-glass></icon-magnifying-glass>
            <h1>Uh oh!</h1>
            <h3 class="error-header">We can't seem to find the page you're looking for.</h3>
            <p>Error Code: {{ errorCode$ | async }}</p>
            <a href="/" class="btn btn-primary">Return to WorkFile</a>
            <p>
                or check the <a href="https://community.snagajob.com/s/">Snagajob Knowledge Base</a> for updates
            </p>
        </div>
    </div>
</div>
