<div class="background">
    <div class="logo">
            <icon-snag-logo></icon-snag-logo>
    </div>
    <div class="loading-container">
        <div class="inner-loading-container">
            <svg viewBox="0 0 50 50" width="125">
                <g class="circular-loader">
                    <circle class="loader-path" cx="25" cy="25" r="20" fill="none" stroke-width="4" />
                </g>
            </svg>
            <p class="text message">Hang tight, we're loading your experience!</p>
        </div>
    </div>
    <!--<div class="jokes-footer">   
            <p class="text joke-question">{{question}}</p>
            <p class="text joke-answer">{{answer}}</p>
    </div> -->
</div>